.task-body{
    border: 2px solid black;
    background-color: rgb(3, 3, 15);
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.task-body P{
    margin: 0;
    color: rgb(240, 229, 229);
}